<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="css/card.css">
</head>
<body>
    <div class="wrapper">
        <ul class="cards">
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/2ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/3ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/4ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/5ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/6ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/7ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/8ofclubs.png" alt="card-img">
                </div>
            </li>
            <li class="card">
                <div class="view front-view ">
                    <span class="material-icons">?</span>
                </div>
                <div class="view back-view ">
                    <img src="images/cards/9ofclubs.png" alt="card-img">
                </div>
            </li>
        </ul>
    </div>
</body>
</html>