<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>
                <form>
                    <button type="submit">Restart</button>
                </form>
            </td>
        </tr>
        <tr>
            <td><h1>POINTS BOARD</h1></td>
        </tr>
    </table>
    <h1>Deck of Cards</h1>
    <ul>
      <% for (const card of deck) { %>
        <li><%= card.name %> of <%= card.suit %></li>
      <% } %>
    </ul>
</body>
</html>