<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <table>
        <th>
            <tr><p>START PLAYING</p></tr>
        </th>
    </table>
    <div>
        <form action="/card" method="post">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <p>METRO</p>
            <button type="submit">LOGIN</button>
        </form>
    </div>
    <img src="images/card.jpg" alt="">
    <h2>THIS WORLD NEEDS YOU</h2>
</body>
</html>